<footer class='footer'>
<ul class='social-links'> 
	<h5> &copy; Copyright Alexandre Juca All Rights Reserved </h5>
	<p style="color: #404040; font-size: 15px;"> Designed and Developed with <i class="fa fa-heart social-links-a"></i> by Alexandre Juca </p>
		<li><a class='social-links-a' _target='blank' href='http://github.com/AlexJuca'><i class="fa fa-github social-icon"></i></a></li>
		<li><a class='social-links-a' href='http://twitter.com/Ajxdev'><i class="fa fa-twitter social-icon"></i></a></li>
		<li><a class='social-links-a' href='http://facebook.com/Alexandre.Juca'><i class="fa fa-facebook social-icon"></i></a></li>
		<li><a class='social-links-a' href='https://plus.google.com/u/0/101379969000403855022/posts'><i class="fa fa-google-plus social-icon"></i></a></li>
	</ul>
</footer>
<!-- FOOTER SECTION -->
<script src='../../assets/js/jquery.scrollTo.min.js'></script>
<script src='../../assets/js/jgo.js'></script>
<script src='../../assets/js/wintracker.js'></script>
</body>
</html>
