<!DOCTYPE html>
<html>
<!-- Hack to Learn, Don't Learn to hack. -->
<!-- Created with all the love in the wereld || Mundo || World by Alexandre Juca -->
<head> 
	<title> {{ page-title }} </title>

	
	<meta charset='utf-8'></meta> 
	 <meta content="Alexandre Juca" property="og:title">
    <meta content="RAlexandre Juca" name="twitter:title">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Software developer, Web Developer Alexandre Juca" property="og:site_name">
    <meta content="Alexandre Juca is a software developer" name="description">
    <meta content="Alexandre Juca is a software developer" property="og:description">
    <meta content="Alexandre Juca is a software developer" name="twitter:description">
    <meta name="Author" content="Alexandre Juca" />

    <!-- Stylesheets -->
	<link rel='stylesheet' href='../../assets/css/nintendo-min.css' type='text/css'>
	<link rel='stylesheet' href='../../assets/css/animate-min.css' type='text/css'>
	<!-- End of Stylesheets -->

	<!-- Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700' rel='stylesheet' type='text/css'>
	<!-- End of Fonts -->

	<!-- FontAwesome -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- FontAwesome -->
        <link rel='stylesheet' href='../../assets/css/style-a.css' type='text/css'> 
         <!-- JQuery --> 
         <script src='../../assets/js/jquery-2.1.1.min.js'></script>

<body class='body'>
	<nav class='navbar navbar-default'>

		<!-- SOCIAL LINKS -->
		<div class='social-box'>
			<ul class='social-links-holder'> 
				<li><a class='social-links-b' href='http://github.com/AlexJuca'><i class="fa fa-github social-icon"></i></a></li>
				<li><a class='social-links-b' href='http://twitter.com/Ajxdev'><i class="fa fa-twitter social-icon"></i></a></li>
				<li><a class='social-links-b' href='http://facebook.com/Alexandre.Juca'><i class="fa fa-facebook social-icon"></i></a></li>
				<li><a class='social-links-b' href='https://plus.google.com/u/0/101379969000403855022/posts'><i class="fa fa-google-plus social-icon"></i></a></li>
			</ul>
		</div>
		<!-- END OF SOCIAL LINKS -->
	</nav>
	<!-- MAIN SECTION -->
	<!-- INTRO SECTION -->
	<div id='hi' class='intro-wrapper'>	
		<div class='intro-box'>
			<h1 class='header-white'> Hi! </h1>
			<div class='lightline'></div>
			<div class='intro-to-me'>
				<img class='animated bounceInDown my-profile img-circle' src='../../assets/img/AJ.jpg'></img>
				<h3 class='my-title animated bounceInLeft'> Alexandre Juca </h3>
				<h3 class='my-title'>Multiplatform Software Developer</h3>
			</div>
			
			<p> I am a multi skilled software developer with knowledge and experience in UX Design, Web Development, Web design, Software architecture and Android Applications. I'm passionate about writing code and teaching people how to code when not busy on projects. I love sharing my knowledge with other people and hearing feedback, I am always looking for challenges and believe that I grow as a person by overcoming them. </p>
		</div>

	</div>

	<!-- END INTRO SECTION -->