
@font-face
{
      font-family: 'Walsh';
      src: url('../fonts/gt-walsheim-web.woff');
	
}

@font-face
{
      font-family: 'Brandon';
      src: url('../fonts/Brandon.woff');
	
}

body{

	margin: 0px;
	/* font-family: neuton, serif; */
	font-family: 'Brandon';
	font-size: 14px;
	font-weight: normal;
	color: #404040;
	background: #1DE9B6;
	text-rendering: optimizeLegibility;

}

.body
{
	margin: 0px;
	font-size: 14px;
    font-family: 'Brandon';
	font-weight: normal;
	color: #404040;
	background: #FFF;
	padding: 0px;
	text-rendering: optimizeLegibility;

}

li{
	line-height:	40px;
	font-size: 18px;
}

p{

	color:		 	#FFF;
	font-size: 		19px;
	line-height:	40px;
	font-weight: 400;
}

q
{
	font-size: 28px;
	color: #FFF;
	font-weight: 600;
}

h2
{
	font-weight: bold;
}
.iknow-header
{
	color: #FF9666;
}
cite
{
	font-style: normal;
	color: #fff;
	font-size: 19px;
}

a{
	color: #27A6D1;
}

.opac, .opacSocial
{

	opacity: 0;

}

.cover
{
	background: url('../img/cover.png') no-repeat #fff center;
	background-attachment: fixed;
	position: relative;
	width: 100%;
	height: 700px;
}

.navbar
{
	margin-bottom: 0;
	border-radius: 0;
	background: none repeat scroll 0% 0% #1695A3;
	height: 30px;
	opacity: 0.9;
}

.profile-nav
{
	width: 32px;
	height: 32px;
	position: relative;
	margin-left: 40px;
	padding: 10px;
	float: left;
	top: -5px;
}

#nav-profile
{
	opacity: 0;
	border: 3px solid #FFF;
}

.intro-to-me
{
	position: relative;
	margin-bottom: 20px;
}

.bd-image
{
	border-radius: 4px;
}

.social-box
{
	position: relative;
	width: 300px;
	height: 50px;
	float: right;
	top: -33px;
}

.my-profile
{
	border: 5px solid #FFF;
	transition: 0.2s all ease-in-out;
	width: 100px;
}

.my-profile:hover
{

	
	border: 5px solid #FFD08D;
}

.menu
{
	position: relative;
	float: right;
	left: -300px;
}

.header-light
{
	color: ;
	font-size: 44px;
}

.header-white
{
	color: #FFF;
	font-size: 44px;
}

.my-title
{

	color: #FFF;
	font-weight: 600;

}

.header-dark
{
	color: #4E4C4C;
	font-size: 44px;

}

.header-a
{
	color: #354D59;
	font-size: 44px;

}


.lightline
{
	
	background: url('../img/lightline.png') no-repeat scroll 0% 0% transparent;
	position: relative;
	height: 1px;
	background-position: 50%;
	margin-bottom: 40px;
}

.darkline
{
	
	background: url('../img/darkline.png') no-repeat scroll 0% 0% transparent;
	position: relative;
	height: 1px;
	background-position: 50%;
	margin-bottom: 40px;
}
.intro-box, .intro-box-b, .intro-box-c, .intro-box-blog
{

	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	top: 2%;
	text-align: center;
	margin-bottom: 60px;
	z-index: 40;

}

.intro-box-c > p
{
	color: #4E4C4C;
}

.intro-box-b > p
{
	color: #4E4C4C;
}

.intro-box-blog
{
	padding-top: 40px;
	width: 80%;
}

h1
{
	font-weight: bold;
	color: #203648;
	font-size: 320%;
	text-transform: uppercase;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	 letter-spacing: 0.0625em;
}

.lightning
{
	color: #FFD08D;
}

.intro-wrapper, .ok, .ok-a, .ok-aj, .ok-c, .ok-d, .ok-e
{
	background: none repeat scroll 0% 0% #1695A3;
	background-attachment: fixed;
	position: relative;
	min-height: 700px;
	width: 100%;
	padding: 0;
	padding-bottom: 40px;
	padding-top: 40px;
	
}



.intro-wrapper
{
	padding-top: 40px;
}

.ok
{

	background: none repeat scroll 0% 0% #354D59;

}

.ok-a
{

	background: none repeat scroll 0% 0% #FFF;

}

.beezond-link
{
    color: #FFE184;
}


.ok-b
{
	background: #7EC9AC;
}

.email
{
	color: #404046;
}

.ok-d
{
	padding-top: 40px; 
	background: #FF9666;
	background-attachment: fixed;
}

.ok-d p, h1
{
	color: #fff;
}

.ok-c
{
	background: #FFF;
}

.ok-e
{

	padding-top: 60px;
	max-height: 620px;
	background: #354D59;
	min-height: 200px;


}

.plus
{
	color: #fff;
}

.box-contact
{
	position: relative;
	height: 200px;
}

.box-contact > li
{
	border-radius: 5px;
	background: none repeat scroll 0% 0% #FFF;
	top: 20px;
	box-shadow: 0px 1px 0px 0px #808080;
	padding: 25px;
	transition: #DEDEDE 0.2s ease-out 0s;
	display: inline-flex;
	text-align: center;
	margin-top: 20px;
	height: 100px;
	width: 100px;
	position: relative;
}


.box-contact > li > a
{
	color: #404040;
}


.box-contact > li:nth-child(1):hover
{

		background: #FDD08F;

}



.box-contact > li:nth-child(2):hover
{

		background: #2CA8D2;

}

.box-contact > li:nth-child(3):hover
{

		background: #43609C;

}

.box-contact > li:hover > a >  i
{

		color: #FFF;

}

#share
{
	position: absolute;
	top: 300px;
	left: 400px;
	
}

#paper_fab2
{
	transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}

#paper_fab2:hover
{
	transform: rotate(190deg);
    -webkit-transform: rotate(190deg);
}


.projects > p > a
{
	color: #FF9666;
}

.projects > p
{
	color: #4E4C4C;
}
.contact-me
{
	font-size: 55px;
}

.centered
{
	

}

#flip {
	perspective: 1300px;
	display: inline;
	transform-style: preserve-3d;
	height: 250px;
	position: relative;
	z-index: 11;
	width: 320px;
	margin: 200px;
}

#flip .front,
#flip .back {
	background: #313436;
	position: absolute;
	color: #fff;
	width: 320px;
	height: 250px;
	transition: transform 0.6s ease-in-out;
}

#flip .front {
	transform: rotateY(0deg);
	backface-visibility: hidden;
	z-index: 13;
	padding: 10px;
	text-align: center;
}
#flip:hover .front {
	transform: rotateY(180deg);
}
#flip .back {
	transform: rotateY(-180deg);
	backface-visibility: hidden;
	z-index: 12;
	background: #EE445F;
}
#flip:hover .back {
	transform: rotateY(0deg);
	z-index: 14;
}

.menu-holder
{
	position: fixed;
	top: 200px;
	width: 40px;
	height: 300px;
	z-index: 55;
}

.menu-holder > ul > li 
{
	list-style: none;
	background: #FFF;
	height: 10px;
	width: 10px;
	position: relative;
	border-radius: 50px;
	margin-top: 40px;
	margin-bottom: 48px; 
	animation: 3s ease-out 0s normal none infinite pulse;
	transition: 0.3s ease-in-out;

} 

.menu-holder > ul > li:after {
    content: " ";
    border: 22px solid rgba(255, 255, 255, 0.698);
    background: none repeat scroll 0% 0% transparent;
    border-radius: 60px;
    height: 10px;
    width: 10px;
    animation: 2s ease-out 0s normal none infinite pulse;
    -webkit-animation: 2s ease-out 0s normal none infinite pulse;
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: 1;
    opacity: 0.2;
}

.menu-holder > ul > li:hover:after {
    content: " ";
    border: 20px solid rgba(255, 255, 255, 0.698);
    background: none repeat scroll 0% 0% #F6CA6D;
    border-radius: 60px;
    height: 30px;
    width: 30px;
    animation: 1s ease-out 0s normal none infinite pulse;
    -webkit-animation: 1s ease-out 0s normal none infinite pulse;
    position: absolute;
    top: -16px;
    left: -16px;
    z-index: 1;

}

.menu-holder > ul > li:hover
{

	cursor: pointer;
}

.menu-holder > ul > li:nth-child(1):hover
{
	background: #F4BD48;
}

.menu-holder > ul > li:nth-child(2):hover
{
	background: #EE445F;
}

.menu-holder > ul > li:nth-child(3):hover
{
	background: #3CB09B;
}

.menu-holder > ul > li:nth-child(4):hover
{
	background: #203648;
}


.social-links
{
	display: inline;
	position: relative;
	top: 40px;
	text-align: center;
}

.social-links > h5
{

	font-size: 16px;
	font-weight: bold;

}

.social-links > li
{
	
	font-size: 20px;
	list-style: none;
	display: inline;
	margin-right: 20px;

}

.social-icon
{
	font-size: 22px;
}

.social-links-a
{
	color: #1695A3;
}


.social-links-b
{
	color: #FFF;
}



.social-links-holder
{
	display: inline;
	position: relative;
	top: 40px;
	text-align: center;
}

.social-links-holder > li
{
	
	font-size: 20px;
	list-style: none;
	display: inline;
	margin-right: 20px;

}


.social-links > p > i 
{

	color: #E3564C;

}

.footer
{

	background: #FFF;
	height: 190px;
	padding-top: 5px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	border-image: url('../img/dotted.png') 
	border-top: 8px solid;
}

hr
{
	color: #92D1E4;
}

.main-section
{
	position: relative;
	background: #FFF;
	max-width: 1000px;
	min-height: 900px;
	margin-left: auto;
	margin-right: auto;
}


.blog-img-header
{
	margin-bottom: 50px;
	margin-top: 50px;
}

.post-content > p
{	
	font-family: 'Brandon';
	color: #33383D;
	text-align: justify;
}

.advert
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	padding: 0px 230px 20px 200px;
}

.advert > p
{
	color: #404040;
}

.newsTitle
{
	color: #33383D;
}

.bullets 
{
	font-size: 19px;
	text-align: justify;
}

.bullets > li
{
	font-size: 19px;
	text-align: justify;
}

.seperator
{
	margin-bottom: 40px;
}

.rounded-button, .post-button
{
	background: none repeat scroll 0% 0% #FE5E67;
	padding: 10px;
	border-radius: 3px;
	color: #fff;
	font-size: 116%;
	font-weight: 600;
	margin-right: 20px;
	width: 120px;
	text-align: center;
	border: 1px solid #FE5E67;
	transition: all 0.3s ease-in-out;
	position: relative;
	height: 40px;
}

.post-read
{
	position: fixed;
	top: 80%;
	width: 40px;
	height: 300px;
	left: 78%;
	z-index: 55;
	cursor: pointer;
}

.post-read > li:after
{
    content: " ";
    border: 30px solid #FFF;
    background: none repeat scroll 0% 0% transparent;
    border-radius: 30px;
    height: 60px;
    width: 140px;
    animation: 1.6s ease-out 0s normal none infinite pulse;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 1;
    opacity: 0.2;
}

.post-read-icon
{
	color: #FFF;
	font-size: 19px;
}

.post-read > li{
	list-style: outside none none;
    padding: 3px;
    border-radius: 3px;
    color: white;
    font-size: 116%;
    font-weight: 600;
    margin-right: 20px;
    width: 120px;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
    height: 40px;
    background: none repeat scroll 0% 0% orange;
}

.post-content > p
{
	font-family: 'Brandon';
	font-size: 19px;
    line-height: 40px;
    font-weight: 400;
}

@media screen and (max-width: 320px) 
{
    
    .social-box {
        top: -34px;
        left: 40px;
    }
    
    .blog-img-header
	{
	    margin-bottom: 40px;
	    margin-top: 40px;
	    width: 90%;
	}
    
}

@media screen and (max-width: 1600px) {
	#share 
	{
	    position: absolute;
	    top: 280px;
	    left: -150px;
	}
}

@media screen and (max-width: 768px) {

	#share
	{
		position: absolute;
		top: 280px;
		left: -250px;
	}
    
    

}

@media screen and (max-width: 360px) {

	.ok-d
	{
		padding-top: 40px; 
		background: none 50% 50% #1DE9B6 no-repeat;
		background-attachment: fixed;
	}

	#share
	{
		position: absolute;
		top: 160px;
		left: -410px;
	}

	.social-box {
	    top: -34px;
	    left: 20px;
	}

	.social-links-holder
	{
		top: 10px;

	}

	q
	{
		font-size: 22px;
	}

	.intro-box
	{
		width: 65%;
	}

	.post-read
	{
		position: fixed;
		top: 80%;
		width: 40px;
		height: 300px;
		left: 40%;
		z-index: 55;
		cursor: pointer;
	}

	.blog-img-header
	{
	    margin-bottom: 40px;
	    margin-top: 40px;
	    width: 92%;
	}

	body
	{
		padding: 0;
	}
	
	p{
		font-size: 16px;
	}

	.footer
	{
		height: 240px;
	}

	.box-contact > li
	{
		border-radius: 5px;
		background: none repeat scroll 0% 0% #FFF;
		top: 20px;
		box-shadow: 0px 1px 0px 0px #808080;
		padding: 25px;
		transition: #DEDEDE 0.2s ease-out 0s;
		display: inline-flex;
		text-align: center;
		margin-top: 20px;
		height: 50px;
		width: 50px;
		position: relative;
	}

	.contact-me {
    	font-size: 22px;
	}	
    
	.iknow-header {
    color: #FF9666;
    font-size: 19px;
	}

	h1
	{
		font-size: 24px;
	}

}

.spinner {
  margin: 100px auto;
  width: 32px;
  height: 32px;
  position: relative;
}

.cube1, .cube2, .cube3 {
  background-color: #1DE9B6;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
	background: #354D59;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.cube3 {
	background: #E3564C;
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50.1% { -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg) }
  65% {-webkit-transform: translateX(30px) translateY(12px) rotate(-190deg) scale(0.5) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  65% { 
    transform: translateX(30px) translateY(12px) rotate(-190deg) scale(0.5);
    -webkit-transform: translateX(30px) translateY(12px) rotate(-190deg) scale(0.5);
  }
  75% { 
    transform: translateX(30px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

#owl-demo .item{
    margin: 3px;
    }
    #owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    }

